<launch>
  <node pkg="rosaria" type="RosAria" name="RosAria"/>
  <node pkg="core" type="core" name="Core"/>
  <node pkg="joy_handler" type="joy_handler" name="Joy_Handler"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="160" />
    <param name="image_height" value="120" />
    <param name="pixel_format" value="mjpeg	" />
    <param name="framerate" value="30" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node pkg="ros_cam" name="ros_cam" type="ros_cam" output="screen" />

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
</launch>
